In [1]:
import pandas as pd
import os
import mysql.connector
from sqlalchemy import create_engine

# Playoffs games

## Load and process the data

In [2]:
df = pd.read_csv(r"C:\Users\AsafY\OneDrive\Documents\Data Analyst\Data-Analysis-Projects\NBA\data\playoff_series.csv")

# Keep rows in the relevant seasons
df = df[df['Yr'] >= 2018]

# Drop the 'Lg' column
df = df.drop(columns=['Lg'])

# Rename
df = df.rename(columns={'Yr':'year', 'Series':'series', 'Unnamed: 3':'dates', 'Team':'team_w', 'W':'wins_w', 'Team.1':'team_l', 'W.1':'wins_l', 'Favorite':'favorite', 'Underdog':'underdog'})

# Drop columns whose names start with 'Unnamed'
df = df.drop(columns=[col for col in df.columns if col.startswith('Unnamed')])

# Remove everything after the " ("
df['team_w'] = df['team_w'].str.replace(r'\s\(\d+\)', '', regex=True)
df['team_l'] = df['team_l'].str.replace(r'\s\(\d+\)', '', regex=True)
df['favorite'] = df['favorite'].str.replace(r'\s\(\-\d+\)', '', regex=True)
df['underdog'] = df['underdog'].str.replace(r'\s\(\+\d+\)', '', regex=True)

# Start and end date
# Split the 'dates' column into 'start_date' and 'end_date'
df[['start_date', 'end_date']] = df['dates'].str.split(' - ', expand = True)
# Extract the year from the 'end_date' and append it to the 'start_date' to complete the year for 'start_date'
df['start_date'] = df['start_date'] + ' ' + df['end_date'].str.split(' ', n=2).str[-1]
# Convert to date format
df['start_date'] = pd.to_datetime(df['start_date'], format='%b %d %Y').dt.strftime('%Y-%m-%d')
df['end_date'] = pd.to_datetime(df['end_date'], format='%b %d %Y').dt.strftime('%Y-%m-%d')

# Drop dates
df = df.drop(columns=['dates'])

# Reverse the order of rows in the DataFrame
df = df.iloc[::-1].reset_index(drop=True)

# Team codes

In [3]:
# List of team codes (abbreviations)
codes = [
    'ATL', 'BOS', 'BRK', 'CHO', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 
    'LAC', 'LAL', 'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHO', 
    'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Corresponding full team names
teams = [
    'Atlanta Hawks', 'Boston Celtics', 'Brooklyn Nets', 'Charlotte Hornets', 'Chicago Bulls', 
    'Cleveland Cavaliers', 'Dallas Mavericks', 'Denver Nuggets', 'Detroit Pistons', 'Golden State Warriors', 
    'Houston Rockets', 'Indiana Pacers', 'Los Angeles Clippers', 'Los Angeles Lakers', 
    'Memphis Grizzlies', 'Miami Heat', 'Milwaukee Bucks', 'Minnesota Timberwolves', 'New Orleans Pelicans', 
    'New York Knicks', 'Oklahoma City Thunder', 'Orlando Magic', 'Philadelphia 76ers', 'Phoenix Suns', 
    'Portland Trail Blazers', 'Sacramento Kings', 'San Antonio Spurs', 'Toronto Raptors', 'Utah Jazz', 'Washington Wizards'
]

# Create a dictionary to map team codes to full team names
team_dict = dict(zip(codes, teams))

# Convert the dictionary into a DataFrame
teamcode_df = pd.DataFrame(list(team_dict.items()), columns=['t_code', 'team'])

## Export to MySQL

In [9]:
connection_string = r"mysql+mysqlconnector://root:ForJob24Tech@localhost:3306/nba"

engine = create_engine(connection_string)

df.to_sql(con=engine, name= "playoff_series", if_exists="replace", index=False)
teamcode_df.to_sql(con=engine, name= "team_code", if_exists="replace", index=False)

30

Add primary key for series:

In [10]:
mydb = mysql.connector.connect(host = "localhost", user = "root", passwd = "ForJob24Tech", database = "nba")
mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE playoff_series ADD series_id INT AUTO_INCREMENT PRIMARY KEY FIRST")